language: python
python:
  - "2.7"

install:
  - pip install coveralls
  - pip install .
# command to install dependencies
script:
  - cd mirror_seq/tests/
  - python -m unittest discover
branches:
  only:
    - master
after_success:
  coveralls
